POSTGRES_USER="usuario de la base de dato"
POSTGRES_PASSWORD="contraseña del usuario"
POSTGRES_DB="nombre de la base de datos"
DB_PORT="puerto de la base de datos ej: 5432"
ADDR="puerto del backend"
DB_ADDR="postgres://[usuario]:[contraseña]@localhost/tally?sslmode=disable"